@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');

:root {
    --primary: #FF6B00;
    --primary-border: rgba(255, 107, 0, 0.3);
}

.icon-simple {
    display: inline-block;
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    width: 13px;
    height: 11px;
    background-size: 10px;
}
